body {
    margin: 0px;
    padding: 0px;
    background-color: #648991;
}

.text {
    font-family: wingdings;
    margin-top: 15px;
    text-align: center;
}

#ii {
    font-size: 40px;

}

#ishak {
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.platformi {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: aqua;

}

.platformi>div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    transition-duration: 500ms;
    background-color: #03045E;
}
.pad1:hover {
    transition-duration: 500ms;
    background-color: #4e4f8e;
}

.pad2 {
    transition-duration: 500ms;
    background-color: #0077B6;
}

.pad2:hover {
    transition-duration: 500ms;
    background-color: #3292c4;
}

.pad3 {
    transition-duration: 500ms;
    background-color: #00B4D8;
}

.pad3:hover {
    transition-duration: 500ms;
    background-color: #4ccae3;
}

.pad4 {
    transition-duration: 500ms;
    background-color: #90E0EF;
}

.pad4:hover {
    transition-duration: 500ms;
    background-color: #bcecf5;
}

.pad5 {
    transition-duration: 500ms;
    background-color: #CAF0F8;
}

.pad5:hover {
    transition-duration: 500ms;
    background-color: #dff6fa;
}

.choosen {
    opacity: 0.5;
}
